/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@700&display=swap");

/* Root Variables */
:root {
    /* Valorant Theme Colors */
    --clr-primary-1: #c1272d;
    --clr-primary-2: #007e2f;
    --clr-secondary-1: #ffd700;
    --clr-secondary-2: #ff7f00;
    --clr-secondary-3: #c9a66b;
    --clr-secondary-4: #b8ebd0;
    /* Base Colors */
    --clr-black: #000000;
    --clr-white: #ffffff;
    /* Font Family Variables */
    --ff-primary: Roboto Slab, sans-serif;
    --ff-secondary: Montserrat, sans-serif;
    /* Commonly used CSS properties for consistency */
    --transition: all 0.3s linear;
    --spacing: 0.2rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(201, 166, 107, 0.395);
}

/* Global Classes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    background: var(--clr-black);
    color: var(--clr-white);
    line-height: 1.5;
    font-size: 0.875rem;
}